{% load static %}
<!DOCTYPE html>
<html>
    <head>
          
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
      
      <!-- Required meta tags for bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- css file -->
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'apart/CSS/main.css' %}"> -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/68255827d9.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- Header -->
				<header id="header" class="alt">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <!-- <nav id="nav"> -->
            <ul>
              {% if user.is_authenticated %}
                  <a class="nav-item nav-link btn btn-outline-primary mx-2" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <li><a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a></li>
                <li><a href="{% url 'register' %}" class="btn btn-outline-primary">Sign Up</a></li>
              {% endif %}
						</ul>
					</nav>
				</header>

        <header class="site-header">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="navbar-nav mr-auto">
                <a href="{% url 'apt-home' %}">
                  <button class='btn btn-light'><img src="{% static 'apart/pics/logo.png' %}" height="28"></button>
                </a>
                  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
                </div>
                <div class="navbar-nav">
                  {% if user.is_authenticated %}
                    <h5 class="text-primary">Hi {{user.username}}!</h5>
                    <a class="nav-item nav-link btn btn-outline-primary mx-2" href="{% url 'logout' %}">Logout</a>
                  {% else %}
                    <a class="nav-item nav-link btn btn-outline-primary mx-2" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link btn btn-outline-primary" href="{% url 'register' %}">Create Account</a>
                  {% endif %}
                </div>
            </div>
          </nav>
        </header>
                {% if messages %}
                  {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}"> {{msg}} </div>
                  {% endfor %}
                {% endif %}
                {% block the_block %}{% endblock the_block %}
         <!-- Optional JavaScript for boostrap -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
